body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.todo {
  cursor: pointer;
  margin:20px;
  margin-left: 60px;
  background-color: #19a38d;
  box-shadow: 2px 2px #c1f6ed;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px
}
.strike {
  text-decoration: line-through;
  color: red;
}
.header {
  margin: 40px;
  text-align: center;
}
.form {
  margin-left: 40px;
  margin-top: 40px;
}
